<template>
  <div class="container">
    <h1 class="title">BFS</h1>

    <p class="subtitle">
      O algoritmo BFS prioriza a largura, por isso ele primeiro navegará entre os irmãos de um determinado nó e só então passará para o próximo nível da árvore.
    </p>

    <img src="../../assets/imgs/BFS.gif" height="350" class="bfs" />
  </div>
</template>

<script>
export default {

  mounted() {
  },

  methods: {
  }
}
</script>

<style lang="css">

.bfs {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: #fff;
  margin: 20px;
}

.subtitle {
  color: #fff;
  margin-left: 20px;
}

.container {
  justify-content: center;
}

</style>