<template>
  <div class="container">
    <h1 class="title">DFS</h1>

    <p class="subtitle">
      O algoritmo DFS percorre a árvore priorizando a profundidade, ou seja, primeiro tentará cobrir todos os nós relacionados ao nó pai e só então continuará com os nós irmãos.
    </p>

    <img src="../../assets/imgs/DFS.gif" height="350" class="dfs" />
  </div>
</template>

<script>
export default {

  mounted() {
  },

  methods: {
  }
}
</script>

<style lang="css">

.dfs {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: #fff;
  margin: 20px;
}

.subtitle {
  color: #fff;
  margin-left: 20px;
}

.container {
  justify-content: center;
}

</style>