<template>
  <div class="container">
    <h1 class="title">Dijkstra</h1>

    <p class="subtitle">
      O algoritmo dijkstra prioriza o menor caminho entre os vértices até alcançar o seu destino, dessa forma, navegue pelos vértices relacionados.
    </p>
    <br>
    <img src="../../assets/imgs/dijkstra.gif" height="350" class="dkjistra" />
  </div>
</template>

<script>
export default {

  mounted() {
  },

  methods: {
  }
}
</script>

<style lang="css">

.dkjistra {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: #fff;
  margin: 20px;
}

.subtitle {
  color: #fff;
  margin-left: 20px;
}

.container {
  justify-content: center;
}

</style>