<template>
  <div class="tutorial">
    <TopMenu title="Tutorial" />
    <h1 class="title">Como jogar?</h1>

    <p class="subtitle">
      Ao clicar em um vértice ele se acenderá, continue clicando nos vértices até atingir seu objetivo e depois clique em enviar. 
    </p>
    <br>
    <p class="subtitle" style="color: red;">
      CUIDADO!!
    </p>
    <br>
    <p class="subtitle">
      Ao clicar em um vértice a operação não poderá ser desfeita então pense bem antes de executar o melhor caminho.
    </p>

    <DFS title="Tutorial" />
    <BFS title="Tutorial" />
    <Dijkstra title="Tutorial" />

  </div>
</template>

<script>
import TopMenu from '../../components/TopMenu.vue'
import DFS from './DFS.vue'
import BFS from './BFS.vue'
import Dijkstra from './Dkjistra.vue'

export default {
  components: {
    TopMenu,
    DFS,
    BFS,
    Dijkstra
  },
}
</script>

<style>

</style>