<template>
  <div class="ranking">
    <TopMenu title="Ranking" />

    <h1 class="title">
      Pontuação dos usuários
    </h1>
    <span class="subtitle">
      Jogue o máximo que puder e fique entre os melhores do ranking,
      o ranking é armazenado localmente no navegador.
    </span>

    <div class="content">
      <table class="table-fill">
        <thead>
          <tr>
            <th class="text-left">Usuário</th>
            <th class="text-left">Pontuação</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <tr v-for="(row, index) in ranking" :key="index">
            <td class="text-left">
              {{  row.user }}
            </td>
            <td class="text-left">
              {{  row.score }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import TopMenu from "../../components/TopMenu.vue";

export default {
  components: {
    TopMenu,
  },

  data() {
    return {
      ranking: [],
    };
  },

  created () {
    const ranking = JSON.parse(localStorage.getItem("rankings"));
    console.log(ranking);
    this.ranking = ranking || [];
  }
};
</script>

<style lang="scss" scoped>
.ranking {
  .title {
    color: #fff;
    margin: 20px 20px 0px 20px;
  }

  .subtitle {
    color: #fff;
    margin-left: 20px;
    font-size: 12px;
  }

  .content {
    margin-top: 40px;

    .table-fill {
      border-collapse: collapse;
      margin: auto;
      max-width: 600px;
      padding: 5px;
      width: 100%;
      animation: float 5s infinite;

      th {
        color: #d5dde5;
        background: #8383832a;
        border-bottom: 2px solid #9ea7af;
        border-right: 1px solid #343a45;
        font-size: 18px;
        font-weight: 100;
        padding: 20px;
        text-align: left;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        vertical-align: middle;
      }
      tr {
        border-top: 1px solid #c1c3d1;
        color: #666b85;
        font-size: 16px;
        font-weight: normal;
        text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
        &:hover {
          td {
            background: #4e5066;
            color: #ffffff;
            border-top: 1px solid #22262e;
          }
        }
        &:first-child {
          border-top: none;
        }
        &:nth-child(odd) {
          td {
            background: #ebebeb;
          }
          &:hover {
            td {
              background: #4e5066;
            }
          }
        }
      }
      td {
        background: #ffffff;
        padding: 20px;
        text-align: left;
        vertical-align: middle;
        font-weight: 300;
        font-size: 18px;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
        border-right: 1px solid #c1c3d1;
        &:last-child {
          border-right: 0px;
        }
      }
    }
  }
}

</style>