<template>
  <div class="config">
    <TopMenu title="Configurações" />
  </div>
</template>

<script>
import TopMenu from '../../components/TopMenu.vue'

export default {
  components: {
    TopMenu
  },
}
</script>

<style>

</style>