<template>
  <div class="team">
    <TopMenu title="Time de desenvolvimento" />

    <div class="container">
      <div class="card" v-for="(member, index) in members" :key="index">
        <div class="content">
          <div class="avatar">
            <img :src="member.avatar" alt="avatar" />
          </div>
          <div class="details">
            <div>
              <h3>{{ member.name }}</h3>
            </div>
            <div>
              <i class="fab fa-linkedin"></i>
              <span>
                {{ member.linkedin }}
              </span>
            </div>
            <div>
              <i class="fa fa-link"></i>
              {{ member.site }}
            </div>
            <div>
              <i class="fa fa-envelope"></i>
              <span>{{ member.email }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TopMenu from "../../components/TopMenu.vue";

export default {
  components: {
    TopMenu,
  },

  data() {
    return {
      members: [
        {
          name: "Thiago Nogueira",
          avatar:
            "https://www.ecp.org.br/wp-content/uploads/2017/12/default-avatar-1.png",
          linkedin: "",
          email: "thiago.nogueira187@gmail.com",
          site: "https://thiagonogueira.xyz",
        },
        {
          name: "David Gonçalves Pereira",
          avatar:
            "https://www.ecp.org.br/wp-content/uploads/2017/12/default-avatar-1.png",
          linkedin: "https://www.linkedin.com/in/david-gonçalves-779bb7179/",
          email: "daviidgoncalves66@gmail.com",
          site: "",
        },
      ],
    };
  },
};
</script>

<style lang="scss">
.team {
  .container {
    width: 100%;
    min-height: calc(100vh - 58px);
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
      margin-right: 40px;
      height: 220px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      border-radius: 25px;
      box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      border-top: 1px solid rgba(255, 255, 255, 0.25);
      transition: 1s;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        transform: scale(1.1);
        background: rgba(255, 255, 255, 0.25);
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background: rgba(255, 255, 255, 0.25);
      }

      .content {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: -80px;
        gap: 25px;
        padding: 20px;

        .avatar {
          position: relative;
          width: 100px;
          height: 100px;
          overflow: hidden;
          border-radius: 50%;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .details {
          display: flex;
          flex-direction: column;
          gap: 10px;
          color: #fff;

          div {
            display: flex;
            align-items: center;
            gap: 10px;
          }

          ion-icon {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}
</style>