<template>
  <section>
    <ul>
      <li><a href="/game" data-text="Iniciar">Iniciar</a></li>
      <li><a href="/tutorial" data-text="Tutorial">Tutorial</a></li>
      <li><a href="/ranking" data-text="Ranking">Ranking</a></li>
      <li><a href="/config" data-text="Configurações">Configurações</a></li>
      <li><a href="/team" data-text="Time">Time</a></li>
    </ul>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  display: flex;
  flex-direction: column;
  li {
    list-style: none;
    a {
      display: block;
      text-decoration: none;
      text-align: center;
      font-size: 2em;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 10px;

      &:hover {
        color: rgb(153, 153, 153);
      }

      &::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
        text-align: center;
        font-size: 2em;
        opacity: 0;
        line-height: 100vh;
        color: #2196f3;
        transition: 0.5s;
      }
    }

    &:hover {
      a {
        &::before {
          opacity: 1;
        }
      }
    }
  }
}
</style>