// button
.button {
	flex: 1 1 auto;
	padding: 20px;
	margin: 10px;
	font-size: 20px;
	text-align: center;
	color: #fff;
	background-color: inherit;
	border: 1px solid #fff;
	position: relative;
	overflow: hidden;
	transition: .3s;

	&.btn-primary {
		border: 1px solid rgb(15, 8, 46);
		color:rgb(15, 8, 46)
	}

	&:after {
		position: absolute;
		transition: .3s;
		content: '';
		width: 0;
		left: 0;
		bottom: 0;
		height: 3px;
		background: #f7f7f7;
	}

	&:hover {
		box-shadow: inset 0px 0px 0px 3px #f7f7f7;
		cursor: pointer;

		&:after {
			width: 100%;
			left: 0;
		}
	}
}

