@import "./button.scss";

body {
  background:hsl(218, 30%, 15%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}