.tf-tree {
	font-size: 16px;
	overflow: auto;
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	ul {
		display: inline-flex;
	}
	li {
		align-items: center;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		padding: 0 1em;
		position: relative;
		ul {
			margin: 2em 0;
		}
		li {
			&:before {
				border-top: .0625em solid #fff;
				content: "";
				display: block;
				height: .0625em;
				left: -.03125em;
				position: absolute;
				top: -1.03125em;
				width: 100%;
			}
			&:first-child {
				&:before {
					left: calc(50% - .03125em);
					max-width: calc(50% + .0625em);
				}
			}
			&:last-child {
				&:before {
					left: auto;
					max-width: calc(50% + .0625em);
					right: calc(50% - .03125em);
				}
			}
			&:only-child {
				&:before {
					display: none;
				}
				>.tf-nc {
					&:before {
						height: 1.0625em;
						top: -1.0625em;
					}
				}
				>.tf-node-content {
					&:before {
						height: 1.0625em;
						top: -1.0625em;
					}
				}
			}
		}
	}
	.tf-nc {
		border: .0625em solid #fff;
		display: inline-block;
		padding: .6em 1em;
		position: relative;
		&:before {
			top: -1.03125em;
			border-left: .0625em solid #fff;
			content: "";
			display: block;
			height: 1em;
			left: calc(50% - .03125em);
			position: absolute;
			width: .0625em;
		}
		&:after {
			border-left: .0625em solid #fff;
			content: "";
			display: block;
			height: 1em;
			left: calc(50% - .03125em);
			position: absolute;
			width: .0625em;
			top: calc(100% + .03125em);
		}
		&:only-child {
			&:after {
				display: none;
			}
		}
	}
	.tf-node-content {
		border: .0625em solid #fff;
		display: inline-block;
		padding: .5em 1em;
		position: relative;
		&:before {
			top: -1.03125em;
			border-left: .0625em solid #fff;
			content: "";
			display: block;
			height: 1em;
			left: calc(50% - .03125em);
			position: absolute;
			width: .0625em;
		}
		&:after {
			border-left: .0625em solid #fff;
			content: "";
			display: block;
			height: 1em;
			left: calc(50% - .03125em);
			position: absolute;
			width: .0625em;
			top: calc(100% + .03125em);
		}
		&:only-child {
			&:after {
				display: none;
			}
		}
	}
	>ul {
		>li {
			>.tf-nc {
				&:before {
					display: none;
				}
			}
			>.tf-node-content {
				&:before {
					display: none;
				}
			}
		}
	}
	li.tf-dotted-children {
		.tf-nc {
			&:after {
				border-left-style: dotted;
			}
			&:before {
				border-left-style: dotted;
			}
		}
		.tf-node-content {
			&:after {
				border-left-style: dotted;
			}
			&:before {
				border-left-style: dotted;
			}
		}
		li {
			&:before {
				border-top-style: dotted;
			}
		}
		>.tf-nc {
			&:before {
				border-left-style: solid;
			}
		}
		>.tf-node-content {
			&:before {
				border-left-style: solid;
			}
		}
	}
	li.tf-dashed-children {
		.tf-nc {
			&:after {
				border-left-style: dashed;
			}
			&:before {
				border-left-style: dashed;
			}
		}
		.tf-node-content {
			&:after {
				border-left-style: dashed;
			}
			&:before {
				border-left-style: dashed;
			}
		}
		li {
			&:before {
				border-top-style: dashed;
			}
		}
		>.tf-nc {
			&:before {
				border-left-style: solid;
			}
		}
		>.tf-node-content {
			&:before {
				border-left-style: solid;
			}
		}
	}
}
.tf-tree.tf-gap-sm {
	li {
		padding: 0 .6em;
		>.tf-nc {
			&:before {
				height: .6em;
				top: -.6em;
			}
			&:after {
				height: .6em;
			}
		}
		>.tf-node-content {
			&:before {
				height: .6em;
				top: -.6em;
			}
			&:after {
				height: .6em;
			}
		}
		ul {
			margin: 1.2em 0;
		}
		li {
			&:before {
				top: -.63125em;
			}
			&:only-child {
				>.tf-nc {
					&:before {
						height: .6625em;
						top: -.6625em;
					}
				}
				>.tf-node-content {
					&:before {
						height: .6625em;
						top: -.6625em;
					}
				}
			}
		}
	}
}
.tf-tree.tf-gap-lg {
	li {
		padding: 0 1.5em;
		>.tf-nc {
			&:before {
				height: 1.5em;
				top: -1.5em;
			}
			&:after {
				height: 1.5em;
			}
		}
		>.tf-node-content {
			&:before {
				height: 1.5em;
				top: -1.5em;
			}
			&:after {
				height: 1.5em;
			}
		}
		ul {
			margin: 3em 0;
		}
		li {
			&:before {
				top: -1.53125em;
			}
			&:only-child {
				>.tf-nc {
					&:before {
						height: 1.5625em;
						top: -1.5625em;
					}
				}
				>.tf-node-content {
					&:before {
						height: 1.5625em;
						top: -1.5625em;
					}
				}
			}
		}
	}
}

.tf-nc {
	cursor: pointer;
  height: 40px;
	color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tf-nc-highlight {
  background: red;
}