<template>
  <div class="modal hidden" :style="{ width }">
    <button class="close-modal" @click="close">&times;</button>
    <h1 class="text-center">
      {{ title }}
    </h1>

    <div class="modal-body">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
    },
    width: {
      type: String,
      default: '50%'
    }
  },

  methods: {
    open () {
      this.$el.classList.remove('hidden')
      document.getElementById('overlay').classList.remove('hidden')
    },

    close () {
      this.$el.classList.add('hidden')
      document.getElementById('overlay').classList.add('hidden')
    }
  }
};
</script>

<style lang="scss">
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: #fff;
  padding: 5rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;

  .close-modal {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 4rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;

    &:hover {
      opacity: 0.7;
    }
  }
}
</style>