<template>
  <div class="header">
    <span class="back">
      <router-link to="/">
        <i class="fas fa-arrow-left"></i>
      </router-link>
    </span>

    <span class="title">
      {{ title }}
    </span>

    <span class="right-text">
      {{ textRight }}
    </span>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    textRight: {
      type: String,
      default: '',
    },
  },
}
</script>

<style lang="scss">
.header {
  padding: 20px;
  background-color: #8383832a;
  color: #fff;

  .right-text {
    float: right;
  }

  .back {
    i {
      color: #fff;
      margin-right: 10px;

      &:hover {
        color: rgb(162, 162, 162);
      }
    }
  }
}
</style>