<template>
  <ul class="tree-item">
    <li
      v-for="(node, index) in graph"
      :key="index"
      @click.stop="click(node, index)"
      :id="node.id">
      <span class="tf-nc">
        {{ node.name }}
      </span>

      <TreeItem :graph="node.children" v-if="node.children.length" @click="click"/>
    </li>
  </ul>
</template>

<script>

export default {
  props: {
    graph: {
      type: Array,
      required: true
    }
  },
  methods: {
    click (node, index) {
      this.$emit('click', node, index);
    }
  }
}
</script>

<style lang="scss">
.tree-item {
  .active {
    > .tf-nc {
      background-color: #085c0b;
    }
  }
}
</style>