<template>
  <div class="game">
    <TopMenu
      :title="`Estágio: ${stage}`"
      :text-right="`${points} pontos`"/>

    <component :is="currentView" ref="currentView" @reply="confirmReply"></component>

    <Modal :title="message" ref="modal">
      <p class="text-center" v-if="correctAnswer">Respota: Correta: {{ correctAnswer }}</p>
      <div class="text-center">
        <button type="button" class="button btn-primary btn-next-stage" v-if="!isSuccess" @click="closeModal">
          Voltar
          <i class="fas fa-fw fa-backward"></i>
        </button>

        <button type="button" class="button btn-primary btn-next-stage" v-if="isSuccess" @click="nextStage">
          Próximo estágio
          <i class="fa fa-fw fa-arrow-right"></i>
        </button>
      </div>
    </Modal>

    <Modal :title="message" ref="modalConfigName" width="40%">
      <div class="form">
        <label for="nome" class="form-label">Nome: </label>
        <input type="text" id="nome" class="form-input" v-model="userName" />
      </div>

      <div class="text-center">
        <button type="button" class="button btn-primary btn-next-stage" @click="closeConfigName">
          Confirmar
          <i class="fa fa-fw fa-arrow-right"></i>
        </button>
      </div>
    </Modal>

  </div>
</template>

<script>
import TopMenu from '../../components/TopMenu.vue'
import utils from '../../assets/js/utils'
import { markRaw } from 'vue'

const algoritms = [
  'BFS',
  'DFS',
  'Dijkstra'
]

export default {
  components: {
    TopMenu
  },

  data () {
    return {
      userName: '',
      currentView: null,
      isSuccess: false,
      correctAnswer: '',
      message: '',
      points: 0,
      stage: 1
    }
  },

  created () {
    this.start()
  },

  mounted () {
    if (!this.userName) {
      this.openConfigName()
    }
  },

  methods: {
    openConfigName () {
      this.$refs.modalConfigName.open()
    },

    closeConfigName () {
      this.$refs.modalConfigName.close()
    },

    async start () {
      this.currentView = null
      const algoritm = algoritms[utils.random(0, algoritms.length - 1)]
      const component = await import(`@/components/algoritms/${algoritm}.vue`)
      const componentAlgoritm = await component.default

      this.$nextTick(() => {
        this.currentView = markRaw(componentAlgoritm)
        this.$forceUpdate()
      })
    },

    closeModal () {
      this.$refs.modal.close()
    },

    nextStage () {
      this.isSuccess = false
      this.$refs.modal.close()
      this.stage++
      this.start()
    },

    confirmReply (isSuccess, correctAnswer = []) {
      this.correctAnswer = null;
      if (isSuccess) {
        this.points += 100;
        this.message = 'Parabéns, você acertou! 🔥';
      } else {
        this.message = 'Você errou, tente novamente! 😢';
        const rankings = JSON.parse(localStorage.getItem('rankings')) || []
        rankings.push({
          user: this.userName || 'Anônimo',
          score: this.points
        })
        localStorage.setItem('rankings', JSON.stringify(rankings))
        this.points = 0;
        this.stage = 1;
      }

      this.isSuccess = isSuccess

      if (correctAnswer.length) {
        this.correctAnswer = correctAnswer.join(', ')
      }

      this.$refs.modal.open()
    }
  }
}
</script>

<style lang="scss">
.modal-body {
  .btn-next-stage {
    margin-top: 40px;
  }

  .form {
    .form-label {
      font-weight: bold;
    }

    .form-input {
      margin-top: 5px;
      width: 100%;
      height: 40px;
      margin-bottom: 20px;
      border-right: none;
      border-left: none;
      border-top: none;
    }
  }
}
</style>