<template>
  <div class="bfs">
    <div class="row">
      <h1 class="title">BFS</h1>

      <div class="btn-restart">
        <button type="button" class="button" @click="undo">
          <i class="fas fa-undo-alt"></i>
        </button>
      </div>
    </div>

    <div class="tf-tree">
      <TreeItem :graph="graph" @click="addAnswer"/>
    </div>

    <div class="footer">
      <button type="button" class="button" @click="clearReply">
        Limpar
        <i class="fas fa-fw fa-eraser"></i>
      </button>

      <button type="button" :disabled="!answer.length" class="button" @click="sendReply">
        Enviar
        <i class="fas fa-fw fa-paper-plane"></i>
      </button>
    </div>
  </div>
</template>

<script>
import bfsAlgortihm from '../../algoritms/bfs'
import treeMixin from '../../mixins/tree.mixin'

export default {
  mixins: [treeMixin],

  methods: {
    sendReply () {
      const result = bfsAlgortihm(this.graph);

      const isEqual = result.every((item, index) => item.id === (this.answer[index] || {}).id);

      if (!isEqual) {
        this.clearReply()
      }

      this.$emit('reply', isEqual);
    }
  }
};
</script>

<style lang="scss">
@import "../../assets/css/tree.scss";

.bfs {
  .tf-tree {
    text-align: center;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    color: #fff;
    margin: 20px;
  }
}
</style>