<template>
  <div class="dijkstra">
    <h1 class="title">Dijkstra</h1>
    <p class="subtitle">
      Escolha o menor caminho dos vertices a partir do v{{ initial }} até o v{{ final }}.
    </p>

    <div class="container">
      <canvas id="scenery" width="720" height="600">
        O browser não suporta HTML5 :'(
      </canvas>

      <div class="footer">
        <button type="button" class="button" @click="mounteScenery">
          Gerar novo
          <i class="fas fa-fw fa-eraser"></i>
        </button>

        <button type="button" class="button" @click="sendReply">
          Enviar
          <i class="fas fa-fw fa-paper-plane"></i>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { Vertice } from "../../algoritms/base/graph";
import utils from "../../assets/js/utils";

export default {
  data() {
    return {
      scenery: null,
      answer: [],
      vertices: [],
      initial: null,
      final: null
    };
  },

  mounted() {
    this.mounteScenery()
    this.scenery.addEventListener("click", this.handleEvent, false);
  },

  methods: {
    mounteScenery() {
      this.answer = [];
      this.vertices = [];
      this.scenery = document.getElementById("scenery");
      const context = this.scenery.getContext("2d");
      context.clearRect(0, 0, this.scenery.width, this.scenery.height);

      const totalVertices = utils.random(3, 8);
      const LIMIT = 20;

      for (let index = 1; index <= totalVertices; index++) {
        const x = utils.random(LIMIT, this.scenery.width - LIMIT);
        const y = utils.random(LIMIT, this.scenery.height - LIMIT);

        this.vertices.push({
          ctx: new Vertice(context, x, y, 15, "#fff", `v${index}`),
          vizinhos: [],
        });
      }

      this.randomVizinhos(LIMIT)
      this.initial = utils.random(1, this.vertices.length - 1)
      this.final = this.getRandomFinal()
    },

    getRandomFinal () {
      const final = utils.random(1, this.vertices.length - 1)

      if (final === this.initial) {
        return this.getRandomFinal()
      }

      return final
    },

    randomVizinhos () {
      const intervalos = []

      for (let index = 0; index < this.vertices.length; index++) {
        const element = this.vertices[index];
        try {
          const indice = this.getNewIndexVizinho(element, index);
          const vizinho = this.vertices[indice];
          const intervalo = this.getNewIntervalo(50, intervalos)

          vizinho.ctx.intervalo = Object.assign({}, vizinho.ctx.intervalo, {
            [element.ctx.text]: intervalo
          });
          element.ctx.intervalo = Object.assign({}, element.ctx.intervalo, {
            [vizinho.ctx.text]: intervalo
          });
          element.ctx.vizinhos(vizinho.ctx, intervalo);
          vizinho.vizinhos.push(element);
          element.vizinhos.push(vizinho);

          intervalos.push(intervalo)
          console.log(`${element.ctx.text} para ${vizinho.ctx.text} com custo: ${intervalo}`)
        } catch (error) {
          this.mounteScenery()
        }
      }
    },

    getNewIntervalo (limit, ignoreFields) {
      const intervalo = utils.random(1, limit);

      if (ignoreFields.includes(intervalo)) {
        return this.getNewIntervalo(limit, ignoreFields)
      }

      return intervalo
    },

    getNewIndexVizinho(element, index) {
      const indice = this.getIndexRandom(index);
      const vizinho = this.vertices[indice];

      const isVizinho = element.vizinhos.some(
        (v) => v.ctx.id === vizinho.ctx.id
      );

      if (isVizinho) {
        return this.getNewIndexVizinho(element, index);
      }

      return indice;
    },

    getIndexRandom(index) {
      const random = utils.random(0, this.vertices.length - 1);

      if (random === index) {
        return this.getIndexRandom(index);
      }

      return random;
    },

    handleEvent(e) {
      const elemLeft = this.scenery.offsetLeft + this.scenery.clientLeft;
      const elemTop = this.scenery.offsetTop + this.scenery.clientTop;

      const x = e.pageX - elemLeft;
      const y = e.pageY - elemTop;

      const element = this.vertices.find((v) => {
        const { x: vx, y: vy } = v.ctx;
        const space = 15;

        return x >= vx - space && x <= vx + space && y >= vy - space && y <= vy + space;
      });

      if (!element) {
        return false;
      }

      const isSome = this.answer.some((v) => v.ctx.id === element.ctx.id);
      if (!isSome) {
        this.answer.push(element)
        element.ctx.setColor('#085c0b');
      }

      return false;
    },

    hasElementFinal (element, lastElement = {}, ignoreElements = []) {
      try {
        const { vizinhos } = element;

        if (ignoreElements.includes(element.ctx.id)) {
          return false
        }

        if (element.ctx.id === (lastElement.ctx || {}).id) {
          return false;
        }

        if (element.ctx.text === `v${this.final}`) {
          return true;
        }

        if (vizinhos.length === 0) {
          return false
        }

        const hasFinal = vizinhos
          .some((v) => v.ctx.text === `v${this.final}`)

        if (hasFinal) {
          return true
        }

        return vizinhos.some((v) => {
          const hasFinal = this.hasElementFinal(v, element, ignoreElements)

          if (hasFinal) {
            return true
          }

          return false
        })
      } catch (error) {
        console.log(error)
        return false
      }
    },

    findCorrectStruture (element, arr = []) {
      const { vizinhos = [] } = element;

      console.log(`arr ${arr}`)
      if ((element.ctx || {}).text === `v${this.final}`) {
        console.log(`Condição final do vertice ${element.ctx.text}`)

        return arr
      }

      const populated = arr
        .filter(v => v)
        .map((v) => {
          const vertice = this.vertices.find((vz) => vz.ctx.id === v)

          return vertice.ctx.text
        })

      console.log('Caminho percorrido: ', populated)

      const lowerValue = vizinhos
        .filter((v) => !arr.includes(v.ctx.id))
        .reduce((prev, curr) => {
          console.log(`Vertice ${element.ctx.text}: ${element.ctx.intervalo[curr.ctx.text]} é o menor custo que o ${curr.ctx.text}: ${curr.ctx.intervalo[prev.ctx.text]}?`)
          console.log(element.ctx.intervalo[curr.ctx.text] <= curr.ctx.intervalo[prev.ctx.text], 'retorna prev')
          const isSmallerThen = element.ctx.intervalo[prev.ctx.text] <= element.ctx.intervalo[curr.ctx.text]

          if (isSmallerThen && this.hasElementFinal(prev, {}, arr)) {
            console.log(prev.ctx.text)
            return prev;
          }

          // console.log(`Vertice ${prev.ctx.text}: ${prev.ctx.intervalo[curr.ctx.text]} é o menor custo que o ${curr.ctx.text}: ${curr.ctx.intervalo[prev.ctx.text]}?`)
          // console.log(prev.ctx.intervalo[curr.ctx.text] <= curr.ctx.intervalo[prev.ctx.text], 'retorna prev')

          // if (prev.ctx.intervalo[curr.ctx.text] <= curr.ctx.intervalo[prev.ctx.text] && this.hasElementFinal(prev)) {
          //   console.log(prev.ctx.text)
          //   return prev;
          // }

          console.log(curr.ctx.text)

          return curr;
        }, { ctx: { intervalo: {} }, vizinhos: [] });


      arr.push(lowerValue.ctx.id)

      if (lowerValue.vizinhos && lowerValue.vizinhos.length) {
        return this.findCorrectStruture(lowerValue, arr)
      }

      return arr
    },

    sendReply() {
      const inicio = this.vertices.find((v) => `v${this.initial}` === v.ctx.text)

      let correctAnswer = [
        inicio.ctx.id
      ]

      correctAnswer = this.findCorrectStruture(inicio, correctAnswer)

      const isCorrect = correctAnswer.join('') === this.answer.map((v) => v.ctx.id).join('')

      const populated = correctAnswer
        .filter(v => v)
        .map((v) => {
          const vertice = this.vertices.find((vz) => vz.ctx.id === v)

          return vertice.ctx.text
        })

      console.log('Correto: ' + populated)
      console.log('Minha resposta: ', this.answer.map((v) => v.ctx.text))
      console.log('Estrutura: ', this.vertices)

      this.$emit("reply", isCorrect, populated);
    },
  },
};
</script>

<style lang="scss">
.dijkstra {
  .title {
    color: #fff;
    margin: 20px;
  }

  .subtitle {
    color: #fff;
    margin-left: 20px;
  }

  .container {
    display: flex;
    justify-content: center;
  }
}
</style>